* {
    box-sizing: border-box;
}

body {
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    background: rgb(138, 41, 41);
    color: rgb(187, 9, 9);
}

#map {
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 10px;
    font-size: 0;
}

#puzzle {

    width: 500px;
    height: 500px;
    margin: 10px;
    border: solid black;
    border-color: black;
    font-size: 0;

}

.placeholder {
    display: inline-block;
   
}


#elements {
    width: 60%;
    height: 285px;
    margin: 10px;
    padding: 10px;
    border: 10px;
    /*justify-content: center;*/
    text-align: left;
}

